body{
    background: #CCC;
}

#bg-img{
    background:url("../images/background-portfolio.jpg");
    background-size: 100%;
    background-repeat: no repeat;
    min-height: 300px;
}

.footer{
    position:fixed;
    bottom:0;
}

.large-fontsize {
    font-size: 200% !important;
}

.buttons{
    margin:0 120px 0 0;
}

.figure{
    border:thick;
    border:3px;
    background-color:teal;
    bottom:0;
}

a{
    color: grey;
    margin: 15px 0 15px 0;
}

.marginheader{
    margin: 15px;
    border-style: none;
}