#NameProperty{
    background-color:#4aaaa5;
    margin-left: 50px;
    margin-right: 400px;
    padding: 3px;
    font-size: 35px;
    color: #ffffff;
    font-family:'Georgia', Times, 'Times New Roman', serif;
}

#LinkProperty{
    margin:20px;
}

a:link {
    text-decoration: none;
}

#MainPage{
    width:960px;
    height: 500px;
    margin: 50px 50px 50px 50px;
    padding: 0px 20px 20px 20px;
    background-color: #ffffff;
    border:1px;
    border-style: solid;
    border-color:#4aaaa5;
}

#header{
    background-color: #ffffff;
    border:3px solid #cccccc;
}

#footproperty{
    background-color: #666666;
    border:50px;
    text-align: center;
}

#heading{
    color:#4aaaa5;
}

#backgroundfon{
    background-color:#d3d3d3;
}

#image{
    height: 320px;
    width: 300px;
}

.imageNune{
    position:absolute;
    
}

.text{
    position:absolute;
    left: 250px;
    right: 400px;
    top: 175px;
    font-size: 25px;
}

.box-1{
    position:absolute;
    left:720px;

}

.box-2{
    position:absolute;
    top:100px;

}

.box-3{
    position:absolute;
    left:400px;
    bottom:140px
}

.fig{
    position:relative;
    height:50px;
    background-color:turquoise;
    color:white;
    font-size: 20px;
    padding: 20px 0px 0px 20px;

}

.fig1{
    width:300px;
    right:70px;
    bottom:70px;
    left:-25px;
}
.fig2{
    width:280px;
    right:60px;
    bottom:50px;
    left:-40px;
}
.fig3{
    width:280px;
    right:60px;
    bottom:50px;
    left:-40px;
}
#contactinfo{
    margin:0px 0px 20px 0px;
    width:600px;
}
#knopka{
    background-color: turquoise;
    color:white;
}